:root {
  /* default colors */
  --color-black: #000;
  --color-white: #fff;

  /* default gray colors */
  --color-gray-25: #fafafa;
  --color-gray-50: #e5e5e5;
  --color-gray-75: #d6d6d6;
  --color-gray-100: #c4c4c4;
  --color-gray-200: #b8b8b8;
  --color-gray-300: #a7a7a7;
  --color-gray-400: #949494;
  --color-gray-500: #808080;
  --color-gray-600: #5e5e5e;
  --color-gray-700: #444444;
  --color-gray-800: #272727;
  --color-gray-900: #131313;

  /* default green colors */
  --color-emerald-100: #8efdb6;
  --color-emerald-200: #7bfdab;
  --color-emerald-300: #64f098;
  --color-emerald-400: #56e98c;
  --color-emerald-500: #4ad07c;
  --color-emerald-600: #3cc36d;
  --color-emerald-700: #29ba5e;
  --color-emerald-800: #11aa49;
  --color-emerald-900: #009035;

  /* default red colors */
  --color-pink-100: #fe8fd5;
  --color-pink-200: #ff75cd;
  --color-pink-300: #ff63c6;
  --color-pink-400: #f147b3;
  --color-pink-500: #e139a3;
  --color-pink-600: #c93693;
  --color-pink-700: #b42f83;
  --color-pink-800: #971f6b;
  --color-pink-900: #87125c;

  /* default service colors */
  --color-service-fail: #ff0055;
  --color-service-info: #00fcef;
  --color-service-pass: #33ff00;
  --color-service-warn: #ff5100;
}

.dark {
  /* dark background colors */
  --color-bg: var(--color-gray-800);
  --color-bg-accent: var(--color-pink-800);
  --color-bg-action: var(--color-gray-500);
  --color-bg-action-accent: var(--color-gray-600);
  --color-bg-contrast: var(--color-gray-100);
  --color-bg-contrast-accent: var(--color-gray-300);
  --color-bg-paper: var(--color-gray-700);
  --color-bg-paper-accent: var(--color-gray-900);
  /* dark border colors */
  --color-border: var(--color-gray-600);
  --color-border-accent: var(--color-pink-600);
  --color-border-action: var(--color-gray-500);
  --color-border-action-accent: var(--color-gray-600);
  --color-border-contrast: var(--color-gray-200);
  --color-border-contrast-accent: var(--color-gray-400);
  --color-border-paper: var(--color-gray-700);
  --color-border-paper-accent: var(--color-gray-800);
  /* dark text colors */
  --color-text: var(--color-gray-100);
  --color-text-accent: var(--color-emerald-400);
  --color-text-action: var(--color-gray-25);
  --color-text-action-accent: var(--color-gray-100);
  --color-text-contrast: var(--color-gray-800);
  --color-text-contrast-accent: var(--color-gray-900);
  --color-text-paper: var(--color-gray-25);
  --color-text-paper-accent: var(--color-gray-100);

  /* dark primary background colors */
  --color-bg-primary: var(--color-pink-800);
  --color-bg-primary-accent: var(--color-pink-700);
  --color-bg-primary-action: var(--color-emerald-500);
  --color-bg-primary-action-accent: var(--color-emerald-700);
  --color-bg-primary-contrast: var(--color-emerald-600);
  --color-bg-primary-contrast-accent: var(--color-emerald-800);
  --color-bg-primary-paper: var(--color-pink-700);
  --color-bg-primary-paper-accent: var(--color-gray-900);
  /* dark primary border colors */
  --color-border-primary: var(--color-pink-800);
  --color-border-primary-accent: var(--color-pink-700);
  --color-border-primary-action: var(--color-emerald-500);
  --color-border-primary-action-accent: var(--color-emerald-700);
  --color-border-primary-contrast: var(--color-gray-600);
  --color-border-primary-contrast-accent: var(--color-gray-700);
  --color-border-primary-paper: var(--color-gray-300);
  --color-border-primary-paper-accent: var(--color-gray-400);
   /* dark primary text colors */
  --color-text-primary: var(--color-gray-50);
  --color-text-primary-accent: var(--color-gray-75);
  --color-text-primary-action: var(--color-gray-800);
  --color-text-primary-action-accent: var(--color-gray-900);
  --color-text-primary-contrast: var(--color-white);
  --color-text-primary-contrast-accent: var(--color-gray-75);
  --color-text-primary-paper: var(--color-white);
  --color-text-primary-paper-accent: var(--color-gray-50);

  /* dark secondary background colors */
  --color-bg-secondary: var(--color-gray-900);
  --color-bg-secondary-accent: var(--color-gray-700);
  --color-bg-secondary-action: var(--color-pink-500);
  --color-bg-secondary-action-accent: var(--color-pink-700);
  --color-bg-secondary-contrast: var(--color-pink-800);
  --color-bg-secondary-contrast-accent: var(--color-pink-900);
  --color-bg-secondary-paper: var(--color-gray-700);
  --color-bg-secondary-paper-accent: var(--color-gray-800);
  /* dark secondary border colors */
  --color-border-secondary: var(--color-gray-900);
  --color-border-secondary-accent: var(--color-gray-700);
  --color-border-secondary-action: var(--color-pink-500);
  --color-border-secondary-action-accent: var(--color-pink-700);
  --color-border-secondary-contrast: var(--color-pink-700);
  --color-border-secondary-contrast-accent: var(--color-pink-800);
  --color-border-secondary-paper: var(--color-gray-800);
  --color-border-secondary-paper-accent: var(--color-pink-900);
  /* dark secondary text colors */
  --color-text-secondary: var(--color-gray-100);
  --color-text-secondary-accent: var(--color-gray-200);
  --color-text-secondary-action: var(--color-pink-100);
  --color-text-secondary-action-accent: var(--color-gray-100);
  --color-text-secondary-contrast: var(--color-gray-50);
  --color-text-secondary-contrast-accent: var(--color-gray-75);
  --color-text-secondary-paper: var(--color-gray-200);
  --color-text-secondary-paper-accent: var(--color-gray-300);

  /* dark theme background gradients */
  --color-bg-gradient: linear-gradient(0deg, rgba(6,8,48,1) 0%, rgba(6,8,48,0.98) 15%, rgba(6,8,48,0.96) 30%, rgba(6,8,48,0.94) 40%, rgba(6,8,48,0.92) 50%, rgba(6,8,48,0.94) 60%, rgba(6,8,48,0.96) 70%, rgba(6,8,48,0.98) 85%, rgba(6,8,48,1) 100%);
}

.light {
  /* light background colors */
  --color-bg: var(--color-gray-25);
  --color-bg-accent: var(--color-gray-50);
  --color-bg-action: var(--color-gray-100);
  --color-bg-action-accent: var(--color-gray-200);
  --color-bg-contrast: var(--color-gray-600);
  --color-bg-contrast-accent: var(--color-gray-700);
  --color-bg-paper: var(--color-gray-50);
  --color-bg-paper-accent: var(--color-gray-100);
  /* light border colors */
  --color-border: var(--color-gray-100);
  --color-border-accent: var(--color-gray-200);
  --color-border-action: var(--color-gray-100);
  --color-border-action-accent: var(--color-gray-200);
  --color-border-contrast: var(--color-gray-800);
  --color-border-contrast-accent: var(--color-gray-900);
  --color-border-paper: var(--color-gray-100);
  --color-border-paper-accent: var(--color-gray-200);
  /* light text colors */
  --color-text: var(--color-gray-600);
  --color-text-accent: var(--color-emerald-500);
  --color-text-action: var(--color-gray-800);
  --color-text-action-accent: var(--color-gray-900);
  --color-text-contrast: var(--color-gray-25);
  --color-text-contrast-accent: var(--color-gray-50);
  --color-text-paper: var(--color-gray-900);
  --color-text-paper-accent: var(--color-gray-800);

  /* light primary background colors */
  --color-bg-primary: var(--color-emerald-100);
  --color-bg-primary-accent: var(--color-emerald-200);
  --color-bg-primary-action: var(--color-pink-500);
  --color-bg-primary-action-accent: var(--color-pink-700);
  --color-bg-primary-contrast: var(--color-pink-800);
  --color-bg-primary-contrast-accent: var(--color-pink-900);
  --color-bg-primary-paper: var(--color-gray-300);
  --color-bg-primary-paper-accent: var(--color-gray-100);
  /* light primary border colors */
  --color-border-primary: var(--color-gray-800);
  --color-border-primary-accent: var(--color-gray-900);
  --color-border-primary-action: var(--color-pink-500);
  --color-border-primary-action-accent: var(--color-pink-700);
  --color-border-primary-contrast: var(--color-pink-600);
  --color-border-primary-contrast-accent: var(--color-pink-700);
  --color-border-primary-paper: var(--color-gray-400);
  --color-border-primary-paper-accent: var(--color-gray-600);
  /* light primary text colors */
  --color-text-primary: var(--color-black);
  --color-text-primary-accent: var(--color-gray-900);
  --color-text-primary-action: var(--color-gray-100);
  --color-text-primary-action-accent: var(--color-gray-200);
  --color-text-primary-contrast: var(--color-gray-50);
  --color-text-primary-contrast-accent: var(--color-gray-75);
  --color-text-primary-paper: var(--color-gray-800);
  --color-text-primary-paper-accent: var(--color-gray-900);

  /* light secondary background colors */
  --color-bg-secondary: var(--color-gray-100);
  --color-bg-secondary-accent: var(--color-gray-300);
  --color-bg-secondary-action: var(--color-gray-500);
  --color-bg-secondary-action-accent: var(--color-gray-700);
  --color-bg-secondary-contrast: var(--color-emerald-500);
  --color-bg-secondary-contrast-accent: var(--color-emerald-600);
  --color-bg-secondary-paper: var(--color-gray-200);
  --color-bg-secondary-paper-accent: var(--color-gray-300);
  /* light secondary border colors */
  --color-border-secondary: var(--color-gray-300);
  --color-border-secondary-accent: var(--color-gray-500);
  --color-border-secondary-action: var(--color-gray-500);
  --color-border-secondary-action-accent: var(--color-gray-700);
  --color-border-secondary-contrast: var(--color-pink-700);
  --color-border-secondary-contrast-accent: var(--color-pink-900);
  --color-border-secondary-paper: var(--color-gray-200);
  --color-border-secondary-paper-accent: var(--color-gray-300);
  /* light secondary text colors */
  --color-text-secondary: var(--color-gray-700);
  --color-text-secondary-accent: var(--color-gray-900);
  --color-text-secondary-action: var(--color-emerald-100);
  --color-text-secondary-action-accent: var(--color-emerald-300);
  --color-text-secondary-contrast: var(--color-gray-800);
  --color-text-secondary-contrast-accent: var(--color-gray-900);
  --color-text-secondary-paper: var(--color-gray-900);
  --color-text-secondary-paper-accent: var(--color-gray-800);

  /* light theme background gradients */
  --color-bg-gradient: linear-gradient(0deg, rgba(242,242,248,1) 0%, rgba(242,242,248,0.98) 15%, rgba(242,242,248,0.96) 30%, rgba(242,242,248,0.94) 40%, rgba(242,242,248,0.92) 50%, rgba(242,242,248,0.94) 60%, rgba(242,242,248,0.96) 70%, rgba(242,242,248,0.98) 85%, rgba(242,242,248,1) 100%);
}
